<html>
  <body>

<div class = container text-align = "center">
  <br>
<p>Ce nom d'utilisateur est invalide, merci d'en utiliser un autre </p>

<p><%= link_to 'Retour', '/user/new' %></p>
</div>
</body>
</html>
