<html>
  <body>

<div class = container text-align = "center">
  <br>
<h1> Quelle curiosité !!!</h1>
<p> Que veux-tu savoir exactement? </p>
<p> Tu ne sais pas? Bon... Je vais te donner quelques infos en exclusivité: </p>
<ul>
<li></li> J'aime: le vin, le chocolat, les haagendazshhhh (sauf le nom barbare), tous les jeux -ou presque - de King, et la farniente
<li></li> Je n'aime pas: les clougs
<li></li> Je suis tout aussi curieuse!
</ul>

<p><%= link_to 'Retour sur la home-page', home_path('/') %></p>
</div>
</body>
</html>
